<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Landon Hotel - Events &amp; Meetings</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <h1>Detail of Request</h1>


        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Event Type</th>
            </tr>
            <tr th:each="request : ${quoteRequestBean}">
                <td th:text="${request.id}"></td>
                <td th:text="${request.eventType}"></td>
            </tr>
        </table>

</body>
</html>
